.clearfix:after,.clear:before{
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    content:".";
}
.clearfix{
    // overflow: auto;
    zoom: 1;
}
[clearfix]:after,[clear]:before{
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    content:".";
}
[clearfix]{
    // overflow: auto;
    zoom: 1;
}

.fl {
    float: left;
}
.fr {
    float: right;
}